fieldset {
  margin-bottom: 1em;
}
a:hover {
  text-decoration: none;
}

.restaurant-container {
  padding-bottom: 1.4em;
  min-height: 20em;
}

.image-border {
  padding: 1em;
  border: 1px solid #ccc;
}

.image-border:hover {
  background-color: #ddd;
  border: 1px solid #ddd;
}

img.image-border, .image-border img{
  width: 100%;
}

.review-title {
  font-size: 1.4em;
}

.reviewstar-container {
  min-height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 194px;
}

.review-star {
  background: url('../images/stars.png') top center no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  float:left;
  margin-right: .2em;
}

.review-star-gray {
  background: url('../images/stars-gray.png') top center no-repeat;
}

.review-container {
  padding: 1em;
  border-bottom: 1px solid #eee;
  clear:both;
  background: #FAFAFA;
}

.small {
  font-size: .8em;
}

.ml {
  margin-left: 1em;
}

.mr {
  margin-right: 1em;
}

.mb {
  margin-bottom: 1em;
}

.mt {
  margin-top: 1em;
}

@media screen and (min-width: 60em) {
  .reviewstar-container {
    width: 194px;
    float: right;
  }
}
