<div>
  <form action="/api/restaurant" type='post'>
    <label for="name"><b>Name</b>
    <imput type='text' name='name'/></label>
    <label for="address"><b>Address</b>
    <imput type='text' name='address'/></label>
    <label for="hours"><b>Hours</b>
    <imput type='text' name='hours'/></label>
    <label for="description"><b>Description</b>
    <imput type='text' name='description'/></label>      
  </form>
</div>