<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Kelp</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<script>
  window.__initialstate = {{__initialstate}}
</script>
<body>
  {{{app}}}
  {{{body}}}

</body>
</html>
