<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kelp</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<!-- ARIA roles based on http://mcdlr.com/wai-aria-cheatsheet -->
<body>
  <nav class="navbar navbar-default" role="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-offset-2">
            <a href="/" class="navbar-brand">Kelp</a>
            <ul class="nav navbar-nav navbar-right" role="navigation">
              <li><a href="/">Restaurants</a></li>
              <li class="active" id="signout-mount"></li>
            </ul>
          </div>
        </div>
  </nav>
  <main class="container" role="main">
      <section class="row">
          <div class="col-md-9 col-md-offset-2">
            {{{body}}}
          </div>
      </section>
  </main>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.js" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.js" charset="utf-8"></script>
  <script src="/js/common.min.js" charset="utf-8"></script>
  {{#if script}}
    <script src="/js/{{script}}" charset="utf-8" defer></script>
  {{/if}}
  <script src="/js/signout.min.js" charset="utf-8" defer></script>

  <footer class="footer" role="footer">
      <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-2">
              <hr />
                <p class="text-mute text-center">
              Kelp 2016
            </p>
          </div>
        </div>
      </div>
  </footer>
</body>
</html>
